.vscode
DeDispKernelInvocationNeo/
Disp1/
Disp_gc1/

Disp_gc/build_out
Disp_gc/build
Disp_gc/build1
Disp/build_out
Disp/cmake

Disp_gc/build*

Dispall.zip
Drafts.json
Drafts/
Drafts1.json
Drafts1/
Text_simple.zip
Text_simple/
Text_simple1/
msopgen
msopst
msopst.ini
op_ut_helper
op_ut_run
samples/
sinh/
*.zip
